* {
    margin: 0;
    padding: 0;
}

body {

    color: var(--light);
    background-color: #55a3c0;
}

.wrapper, .fixed-bottom {

    max-width: 400px;
    margin: 0 auto;
}

.team-box {

    height: 6em;
    width: 6em;
    border-radius: .7em;
    cursor: pointer;
    color: var(--light);
}

.team-box span {
    line-height: 8em;
}

.team-box.blue {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.team-box.yellow {
    background-color: var(--warning);
    border: 1px solid var(--warning);
}

.team-box.red {
    background-color: var(--danger);
    border: 1px solid var(--danger);
}

.team-box.black {
    background-color: var(--dark);
    border: 1px solid var(--dark);
}
